{% extends "base.html" %}
{% load static %}
{% block content %}

    <style>
        @import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");


       body{
        font-family: "Poppins", sans-serif;
       }

      
       .search{
       position: relative;
       box-shadow: 0 0 40px rgba(51, 51, 51, .1);
         
       }

       .search input{

        height: 50px;
        text-indent: 25px;
        border: 2px solid #d6d4d4;
        margin-bottom:20px;
       }


       .search input:focus{

        box-shadow: none;
        border: 2px solid blue;


       }

       .search .fa-search{

        position: absolute;
        top: 20px;
        left: 16px;

       }

       .search button{

        position: absolute;
        top: 5px;
        right: 5px;
        height: 40px;
        width: 110px;
        background: blue;

       }

    </style>

    <br>

    {% comment %} Search Box {% endcomment %}
    <div class="container">

        <div class="row height d-flex justify-content-center align-items-center">

            <div class="col-md-8">

            <div class="search">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control" placeholder="Search">
                <button class="btn btn-primary">Search</button>
            </div>
            
            </div>
            
        </div>
    </div>

    {% comment %} List of Categories {% endcomment %}

    <main class="container my-4">
	<!-- Featured Products -->
	<h3 class="my-4 border-bottom pb-1">Categories</h3>
	<div class="row">
		{% if data %}
			{% for brand in data %}
			<div class="col-md-3 mb-4">
				<div class="card shadow">
                
				<a href="/categories/brand_productlist/{{brand.id}}"><img src="{{ brand.image.url }}" class="card-img-top" alt="{{brand.title}}" /></a>
				<div class="card-body">
					<h6 class="card-text"><a href="/categories/brand_productlist/{{brand.id}}">{{brand.title}}</a></h6>
				</div>
				</div>
			</div>
			{% endfor %}
		{% endif %}
	</div>
</main>


{% endblock  %}
